-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "HardwareType" AS ENUM ('CAMERA', 'SCANNER', 'PRINTER', 'COUNTER');

-- CreateEnum
CREATE TYPE "DeviceStatus" AS ENUM ('ONLINE', 'OFFLINE', 'ERROR', 'MAINTENANCE');

-- CreateEnum
CREATE TYPE "ExecutionStatus" AS ENUM ('DRAFT', 'VERIFYING_IDENTITY', 'RECORDING', 'COUNTING_CASH', 'READY_FOR_CONFIRMATION', 'COMPLETED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "StepStatus" AS ENUM ('PENDING', 'IN_PROGRESS', 'DONE', 'FAILED');

-- CreateEnum
CREATE TYPE "MediaType" AS ENUM ('PHOTO', 'VIDEO', 'DOCUMENT');

-- CreateTable
CREATE TABLE "audit_logs" (
    "id" BIGSERIAL NOT NULL,
    "amount" DOUBLE PRECISION,
    "bank_code" VARCHAR(255),
    "cbs_reference" VARCHAR(255),
    "error_code" VARCHAR(255),
    "fcms_reference" VARCHAR(255),
    "iban" VARCHAR(255),
    "logged_at" TIMESTAMP(6),
    "status_code" VARCHAR(255),
    "status_name" VARCHAR(255),
    "transaction_id" VARCHAR(255),
    "user_name" VARCHAR(255),
    "user_nid" VARCHAR(255),
    "details" TEXT,
    "phone" VARCHAR(255),

    CONSTRAINT "audit_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "bank_account_rejection_logs" (
    "id" BIGSERIAL NOT NULL,
    "bank_account_uuid" VARCHAR(255) NOT NULL,
    "note" VARCHAR(1000),
    "reason_code" VARCHAR(255),
    "reason_name" VARCHAR(255),
    "rejected_by" VARCHAR(255),
    "timestamp" TIMESTAMP(6),
    "rejection_details" VARCHAR(2000),

    CONSTRAINT "bank_account_rejection_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "branches" (
    "id" BIGSERIAL NOT NULL,
    "address" VARCHAR(255),
    "city" VARCHAR(255),
    "code" VARCHAR(255) NOT NULL,
    "is_active" BOOLEAN NOT NULL,
    "name_ar" VARCHAR(255) NOT NULL,
    "name_en" VARCHAR(255) NOT NULL,
    "phone" VARCHAR(255),

    CONSTRAINT "branches_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "card_charge_logs" (
    "id" BIGSERIAL NOT NULL,
    "customer_id" VARCHAR(100) NOT NULL,
    "customer_name" VARCHAR(255),
    "card_id" BIGINT NOT NULL,
    "pan_alias" VARCHAR(100),
    "amount" DECIMAL(19,4) NOT NULL,
    "otp_verified" BOOLEAN NOT NULL DEFAULT false,
    "status" VARCHAR(20) NOT NULL DEFAULT 'SUCCESS',
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "card_transaction_id" BIGINT,
    "fee" DECIMAL(19,4),
    "source" VARCHAR(50) NOT NULL DEFAULT 'BANK_DASHBOARD',

    CONSTRAINT "card_charge_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "card_operation_logs" (
    "id" BIGSERIAL NOT NULL,
    "card_id" BIGINT NOT NULL,
    "created_at" TIMESTAMP(6),
    "operation" VARCHAR(255) NOT NULL,
    "request_id" VARCHAR(255),
    "response_code" VARCHAR(255),
    "status" VARCHAR(255),

    CONSTRAINT "card_operation_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "card_transactions" (
    "id" BIGSERIAL NOT NULL,
    "account_number" VARCHAR(255) NOT NULL,
    "amount" VARCHAR(255) NOT NULL,
    "card_id" BIGINT NOT NULL,
    "created_at" TIMESTAMP(6),
    "customer_id" VARCHAR(255) NOT NULL,
    "error_message" VARCHAR(255),
    "idempotency_key" VARCHAR(255),
    "status" VARCHAR(255) NOT NULL,
    "updated_at" TIMESTAMP(6),

    CONSTRAINT "card_transactions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "cards" (
    "id" BIGSERIAL NOT NULL,
    "created_at" TIMESTAMP(6),
    "customer_id" VARCHAR(255) NOT NULL,
    "pan_alias" VARCHAR(255) NOT NULL,
    "status" VARCHAR(255) NOT NULL,
    "account_number" VARCHAR(255),
    "expiry_date" VARCHAR(255),
    "pan_display" VARCHAR(255),

    CONSTRAINT "cards_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "exchange_activity_log" (
    "id" BIGSERIAL NOT NULL,
    "action" VARCHAR(255) NOT NULL,
    "company_id" BIGINT NOT NULL,
    "entity" VARCHAR(255),
    "entity_id" VARCHAR(255),
    "timestamp" TIMESTAMP(6) NOT NULL,
    "user_id" BIGINT NOT NULL,

    CONSTRAINT "exchange_activity_log_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "exchange_company" (
    "id" BIGSERIAL NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL,
    "cbs_customer_id" VARCHAR(255),
    "name" VARCHAR(255) NOT NULL,
    "status" VARCHAR(255) NOT NULL,
    "fx_house_uuid" VARCHAR(255),

    CONSTRAINT "exchange_company_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "exchange_company_user" (
    "id" BIGSERIAL NOT NULL,
    "company_id" BIGINT NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL,
    "password" VARCHAR(255) NOT NULL,
    "role" VARCHAR(255) NOT NULL,
    "status" VARCHAR(255) NOT NULL,
    "username" VARCHAR(255) NOT NULL,

    CONSTRAINT "exchange_company_user_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "export_audit_events" (
    "id" BIGSERIAL NOT NULL,
    "action" VARCHAR(255) NOT NULL,
    "actor_user_id" BIGINT,
    "batch_id" UUID NOT NULL,
    "created_at" TIMESTAMP(6),
    "note" VARCHAR(255),
    "reason_code" VARCHAR(255),
    "version" INTEGER,

    CONSTRAINT "export_audit_events_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "export_batch_items" (
    "id" BIGSERIAL NOT NULL,
    "amount" DECIMAL(38,2),
    "batch_id" UUID NOT NULL,
    "currency" VARCHAR(255),
    "customer_name" VARCHAR(255),
    "fcms_request_uuid" VARCHAR(255),
    "item_status" VARCHAR(255),

    CONSTRAINT "export_batch_items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "export_batches" (
    "id" UUID NOT NULL,
    "branch_id" BIGINT,
    "created_at" TIMESTAMP(6),
    "created_by" VARCHAR(255),
    "currency" VARCHAR(255),
    "date_from" TIMESTAMP(6),
    "date_to" TIMESTAMP(6),
    "locked_at" TIMESTAMP(6),
    "source" VARCHAR(255),
    "status" VARCHAR(255) NOT NULL,
    "version" INTEGER,

    CONSTRAINT "export_batches_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "export_delivery_log" (
    "id" BIGSERIAL NOT NULL,
    "ack_received" BOOLEAN NOT NULL,
    "ack_required" BOOLEAN NOT NULL,
    "batch_id" UUID NOT NULL,
    "correlation_id" VARCHAR(255),
    "last_attempt_at" TIMESTAMP(6),
    "response_message" TEXT,
    "status" VARCHAR(255),
    "target" VARCHAR(255),

    CONSTRAINT "export_delivery_log_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "export_posting_lines" (
    "id" BIGSERIAL NOT NULL,
    "account" VARCHAR(255),
    "cr_amount" DECIMAL(38,2),
    "currency" VARCHAR(255),
    "dr_amount" DECIMAL(38,2),
    "memo" VARCHAR(255),
    "posting_id" BIGINT NOT NULL,

    CONSTRAINT "export_posting_lines_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "export_postings" (
    "id" BIGSERIAL NOT NULL,
    "batch_id" UUID NOT NULL,
    "created_at" TIMESTAMP(6),
    "created_by" VARCHAR(255),
    "currency" VARCHAR(255),
    "posting_ref" VARCHAR(255),
    "totals_cr" DECIMAL(38,2),
    "totals_dr" DECIMAL(38,2),

    CONSTRAINT "export_postings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "flyway_schema_history" (
    "installed_rank" INTEGER NOT NULL,
    "version" VARCHAR(50),
    "description" VARCHAR(200) NOT NULL,
    "type" VARCHAR(20) NOT NULL,
    "script" VARCHAR(1000) NOT NULL,
    "checksum" INTEGER,
    "installed_by" VARCHAR(100) NOT NULL,
    "installed_on" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "execution_time" INTEGER NOT NULL,
    "success" BOOLEAN NOT NULL,

    CONSTRAINT "flyway_schema_history_pk" PRIMARY KEY ("installed_rank")
);

-- CreateTable
CREATE TABLE "fx_companies" (
    "id" UUID NOT NULL,
    "created_at" TIMESTAMP(6),
    "is_active" BOOLEAN NOT NULL,
    "name" VARCHAR(255) NOT NULL,
    "reference_account" VARCHAR(255) NOT NULL,
    "customer_code" VARCHAR(50),
    "cbs_account_number" VARCHAR(50),
    "iban" VARCHAR(50),
    "cbl_key" VARCHAR(50),

    CONSTRAINT "fx_companies_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "fx_contracts" (
    "id" BIGINT NOT NULL,
    "contract_number" VARCHAR(100),
    "currency" VARCHAR(10),
    "rate" DECIMAL(19,4),
    "amount_limit" DECIMAL(19,4),
    "used_amount" DECIMAL(19,4),
    "limit_remaining" DECIMAL(19,4),
    "start_date" TIMESTAMP(6),
    "end_date" TIMESTAMP(6),
    "status" VARCHAR(50),
    "fx_house_uuid" VARCHAR(100) NOT NULL,
    "last_synced_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "fx_contracts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "fx_credit_records" (
    "id" BIGSERIAL NOT NULL,
    "reference" VARCHAR(50) NOT NULL,
    "customer_code" VARCHAR(50),
    "usd_account" VARCHAR(50),
    "usd_amount" DECIMAL(38,2),
    "treasury_account" VARCHAR(50),
    "status" VARCHAR(20),
    "cbs_reference" VARCHAR(100),
    "cbs_response" TEXT,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "cbs_customer_no" VARCHAR(50),
    "error_message" TEXT,
    "request_xml" TEXT,
    "response_xml" TEXT,
    "tran_ref" VARCHAR(50),
    "updated_at" TIMESTAMP(6),
    "amount" DECIMAL(15,2) NOT NULL,

    CONSTRAINT "fx_credit_records_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "fx_debit_records" (
    "id" UUID NOT NULL,
    "amount" DOUBLE PRECISION,
    "cbs_account" VARCHAR(255),
    "created_at" TIMESTAMP(6),
    "message" VARCHAR(255),
    "reference" VARCHAR(255),
    "status" VARCHAR(255),
    "customer_code" VARCHAR(255),
    "usd_amount" DOUBLE PRECISION,

    CONSTRAINT "fx_debit_records_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "fx_purchase_request" (
    "id" BIGSERIAL NOT NULL,
    "amount" DECIMAL(19,2) NOT NULL,
    "company_id" BIGINT NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL,
    "currency" VARCHAR(255) NOT NULL,
    "external_request_id" VARCHAR(255) NOT NULL,
    "rate" DECIMAL(15,6) NOT NULL,
    "request_reference" VARCHAR(255),
    "status" VARCHAR(255) NOT NULL,
    "updated_at" TIMESTAMP(6) NOT NULL,

    CONSTRAINT "fx_purchase_request_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "fx_requests" (
    "id" UUID NOT NULL,
    "amount" DECIMAL(38,2) NOT NULL,
    "created_at" TIMESTAMP(6),
    "credit_ref" VARCHAR(255),
    "credit_status" VARCHAR(255) NOT NULL,
    "currency" VARCHAR(255) NOT NULL,
    "customer_id" VARCHAR(255) NOT NULL,
    "debit_ref" VARCHAR(255),
    "debit_status" VARCHAR(255) NOT NULL,
    "decline_reason" VARCHAR(255),
    "idempotency_key" VARCHAR(255),
    "processing_started_at" TIMESTAMP(6),
    "reference" VARCHAR(255),
    "status" VARCHAR(255) NOT NULL,
    "updated_at" TIMESTAMP(6),
    "company_id" UUID NOT NULL,

    CONSTRAINT "fx_requests_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "otp_challenges" (
    "id" BIGSERIAL NOT NULL,
    "attempts" INTEGER NOT NULL,
    "created_at" TIMESTAMP(6),
    "customer_id" VARCHAR(255) NOT NULL,
    "expires_at" TIMESTAMP(6) NOT NULL,
    "otp_hash" VARCHAR(255) NOT NULL,
    "status" VARCHAR(255) NOT NULL,
    "transaction_id" UUID NOT NULL,

    CONSTRAINT "otp_challenges_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "password_reset_requests" (
    "id" UUID NOT NULL,
    "attempts" INTEGER NOT NULL,
    "created_at" TIMESTAMP(6),
    "expires_at" TIMESTAMP(6) NOT NULL,
    "identifier" VARCHAR(255) NOT NULL,
    "otp_hash" VARCHAR(255) NOT NULL,
    "phone" VARCHAR(255) NOT NULL,
    "status" VARCHAR(255) NOT NULL,

    CONSTRAINT "password_reset_requests_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "password_reset_tokens" (
    "id" UUID NOT NULL,
    "created_at" TIMESTAMP(6),
    "expires_at" TIMESTAMP(6) NOT NULL,
    "identifier" VARCHAR(255) NOT NULL,
    "token_hash" VARCHAR(255) NOT NULL,
    "used" BOOLEAN NOT NULL,

    CONSTRAINT "password_reset_tokens_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "roles" (
    "id" BIGSERIAL NOT NULL,
    "name" VARCHAR(20),

    CONSTRAINT "roles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "salary_rejection_logs" (
    "id" BIGSERIAL NOT NULL,
    "note" VARCHAR(1000),
    "reason_code" VARCHAR(255),
    "reason_name" VARCHAR(255),
    "rejected_by" VARCHAR(255),
    "timestamp" TIMESTAMP(6),
    "transaction_uuid" VARCHAR(255) NOT NULL,

    CONSTRAINT "salary_rejection_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "system_logs" (
    "id" BIGSERIAL NOT NULL,
    "level" VARCHAR(255) NOT NULL,
    "message" TEXT NOT NULL,
    "source" VARCHAR(255),
    "timestamp" TIMESTAMP(6) NOT NULL,

    CONSTRAINT "system_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "topup_transactions" (
    "id" UUID NOT NULL,
    "amount" DECIMAL(38,2) NOT NULL,
    "card_id" BIGINT NOT NULL,
    "cms_ref" VARCHAR(255),
    "cms_status" VARCHAR(255) NOT NULL,
    "created_at" TIMESTAMP(6),
    "currency" VARCHAR(3) NOT NULL,
    "customer_id" VARCHAR(255) NOT NULL,
    "debit_account" VARCHAR(255) NOT NULL,
    "debit_ref" VARCHAR(255),
    "debit_status" VARCHAR(255) NOT NULL,
    "failure_reason" VARCHAR(255),
    "idempotency_key" VARCHAR(255),
    "processing_started_at" TIMESTAMP(6),
    "refund_attempted" BOOLEAN NOT NULL,
    "refund_completed_at" TIMESTAMP(6),
    "refund_error" VARCHAR(255),
    "refund_ref" VARCHAR(255),
    "refund_succeeded" BOOLEAN NOT NULL,
    "status" VARCHAR(255) NOT NULL,
    "updated_at" TIMESTAMP(6),

    CONSTRAINT "topup_transactions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "transfer_logs" (
    "id" BIGSERIAL NOT NULL,
    "amount" DECIMAL(19,4) NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL,
    "fee" DECIMAL(19,4) NOT NULL,
    "reason" VARCHAR(255),
    "receiver_account" VARCHAR(255) NOT NULL,
    "receiver_cust_id" VARCHAR(255),
    "receiver_name" VARCHAR(255),
    "sender_account" VARCHAR(255) NOT NULL,
    "sender_cust_id" VARCHAR(255),
    "sender_name" VARCHAR(255),
    "status" VARCHAR(255) NOT NULL,
    "tran_ref" VARCHAR(255) NOT NULL,

    CONSTRAINT "transfer_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "user_roles" (
    "user_id" BIGINT NOT NULL,
    "role_id" BIGINT NOT NULL,

    CONSTRAINT "user_roles_pkey" PRIMARY KEY ("user_id","role_id")
);

-- CreateTable
CREATE TABLE "users" (
    "id" BIGSERIAL NOT NULL,
    "email" VARCHAR(255) NOT NULL,
    "password" VARCHAR(255) NOT NULL,
    "username" VARCHAR(255) NOT NULL,
    "branch_id" BIGINT,
    "created_at" TIMESTAMP(6),
    "last_login_at" TIMESTAMP(6),
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "fx_company_id" UUID,
    "name" VARCHAR(255),
    "phone" VARCHAR(50),
    "national_id" VARCHAR(50),
    "role" VARCHAR(20) NOT NULL DEFAULT 'OPERATOR',
    "branch_code" VARCHAR(100),

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "execution_sessions" (
    "id" TEXT NOT NULL,
    "purchase_request_uuid" TEXT NOT NULL,
    "customer_code" TEXT,
    "started_by_user_id" TEXT NOT NULL,
    "branch_id" TEXT,
    "status" "ExecutionStatus" NOT NULL DEFAULT 'DRAFT',
    "verification_status" "StepStatus" NOT NULL DEFAULT 'PENDING',
    "camera_status" "StepStatus" NOT NULL DEFAULT 'PENDING',
    "counting_status" "StepStatus" NOT NULL DEFAULT 'PENDING',
    "receipt_status" "StepStatus" NOT NULL DEFAULT 'PENDING',
    "serial_number" TEXT,
    "notes" TEXT,
    "request_snapshot" JSONB,
    "started_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "ended_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "used_device_ids" JSONB,
    "source_metadata" JSONB,

    CONSTRAINT "execution_sessions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "identity_verifications" (
    "id" TEXT NOT NULL,
    "session_id" TEXT NOT NULL,
    "verification_method" TEXT NOT NULL DEFAULT 'MANUAL',
    "document_type" TEXT,
    "document_number" TEXT,
    "document_image_path" TEXT,
    "matched" BOOLEAN NOT NULL DEFAULT false,
    "mismatch_reason" TEXT,
    "verified_by_user_id" TEXT NOT NULL,
    "verified_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "identity_verifications_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "media_records" (
    "id" TEXT NOT NULL,
    "session_id" TEXT NOT NULL,
    "media_type" "MediaType" NOT NULL,
    "file_path" TEXT NOT NULL,
    "file_name" TEXT NOT NULL,
    "mime_type" TEXT,
    "file_size_bytes" INTEGER,
    "captured_by_user_id" TEXT NOT NULL,
    "captured_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "media_records_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "cash_count_results" (
    "id" TEXT NOT NULL,
    "session_id" TEXT NOT NULL,
    "currency" TEXT NOT NULL DEFAULT 'USD',
    "total_counted_amount" DECIMAL(19,2) NOT NULL,
    "device_reference" TEXT,
    "excel_file_path" TEXT,
    "is_matched_with_request" BOOLEAN NOT NULL DEFAULT false,
    "usd_serial_numbers" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "counted_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "cash_count_results_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "cash_count_denominations" (
    "id" TEXT NOT NULL,
    "cash_count_result_id" TEXT NOT NULL,
    "denomination" DECIMAL(10,2) NOT NULL,
    "notes_count" INTEGER NOT NULL DEFAULT 0,
    "subtotal" DECIMAL(19,2) NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "cash_count_denominations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "receipts" (
    "id" TEXT NOT NULL,
    "session_id" TEXT NOT NULL,
    "receipt_number" TEXT NOT NULL,
    "customer_copy_path" TEXT,
    "archive_copy_path" TEXT,
    "customer_signature_path" TEXT,
    "fingerprint_path" TEXT,
    "printed_by_user_id" TEXT NOT NULL,
    "printed_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "receipts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "transaction_records" (
    "id" TEXT NOT NULL,
    "purchase_request_uuid" TEXT NOT NULL,
    "session_id" TEXT NOT NULL,
    "transaction_number" TEXT NOT NULL,
    "currency" TEXT NOT NULL,
    "amount_foreign" DECIMAL(19,2) NOT NULL,
    "exchange_rate" DECIMAL(15,6) NOT NULL,
    "amount_local" DECIMAL(19,2) NOT NULL,
    "serial_number" TEXT,
    "executed_by_user_id" TEXT NOT NULL,
    "branch_id" TEXT,
    "executed_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "status" TEXT NOT NULL DEFAULT 'COMPLETED',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "transaction_records_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "received_customer_records" (
    "id" TEXT NOT NULL,
    "purchase_request_uuid" TEXT NOT NULL,
    "session_id" TEXT NOT NULL,
    "transaction_record_id" TEXT NOT NULL,
    "customer_external_id" TEXT,
    "customer_name" TEXT NOT NULL,
    "national_id" TEXT,
    "passport_number" TEXT,
    "phone" TEXT,
    "address" TEXT,
    "request_type" TEXT,
    "currency" TEXT NOT NULL,
    "amount_foreign" DECIMAL(19,2) NOT NULL,
    "exchange_rate" DECIMAL(15,6) NOT NULL,
    "amount_local" DECIMAL(19,2) NOT NULL,
    "receipt_number" TEXT,
    "received_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "received_by_user_id" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "received_customer_records_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "workflow_audit_logs" (
    "id" TEXT NOT NULL,
    "entity_type" TEXT NOT NULL,
    "entity_id" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "performed_by_user_id" TEXT,
    "old_values_json" JSONB,
    "new_values_json" JSONB,
    "ip_address" TEXT,
    "user_agent" TEXT,
    "session_id" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "workflow_audit_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "branch_hardware_configs" (
    "id" TEXT NOT NULL,
    "branch_code" TEXT NOT NULL,
    "branch_name" TEXT,
    "camera_ip" TEXT,
    "counter_ip" TEXT,
    "printer_ip" TEXT,
    "gateway_url" TEXT DEFAULT 'http://localhost:8080',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "branch_hardware_configs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "hardware_devices" (
    "id" TEXT NOT NULL,
    "branch_code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "type" "HardwareType" NOT NULL,
    "role" TEXT,
    "connection_info" JSONB NOT NULL,
    "is_default" BOOLEAN NOT NULL DEFAULT false,
    "status" "DeviceStatus" NOT NULL DEFAULT 'ONLINE',
    "metadata" JSONB,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "hardware_devices_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "uk_rt29b5cpquhexus5t5ywalg67" ON "branches"("code");

-- CreateIndex
CREATE INDEX "idx_card_charge_logs_created_at" ON "card_charge_logs"("created_at" DESC);

-- CreateIndex
CREATE INDEX "idx_card_charge_logs_customer" ON "card_charge_logs"("customer_id", "created_at");

-- CreateIndex
CREATE INDEX "idx_card_tx" ON "card_charge_logs"("card_transaction_id");

-- CreateIndex
CREATE UNIQUE INDEX "uk_q09l2sd2sekx129k1xgkv5t07" ON "card_transactions"("idempotency_key");

-- CreateIndex
CREATE UNIQUE INDEX "uk_hfclgmtb2tfwbsnbk96wyype1" ON "cards"("pan_alias");

-- CreateIndex
CREATE UNIQUE INDEX "uk_fxxonalo989q3i6tfc3dchtbh" ON "exchange_company"("cbs_customer_id");

-- CreateIndex
CREATE UNIQUE INDEX "uk_rrw17g90p96ecp3tnq8guayqs" ON "exchange_company_user"("username");

-- CreateIndex
CREATE INDEX "flyway_schema_history_s_idx" ON "flyway_schema_history"("success");

-- CreateIndex
CREATE INDEX "idx_fx_contracts_uuid" ON "fx_contracts"("fx_house_uuid");

-- CreateIndex
CREATE UNIQUE INDEX "unique_credit_reference" ON "fx_credit_records"("reference");

-- CreateIndex
CREATE UNIQUE INDEX "uk_odu5xehow0b34ixviutn9b4sv" ON "fx_purchase_request"("external_request_id");

-- CreateIndex
CREATE UNIQUE INDEX "uk6dotkott2kjsp8vw4d0m25fb7" ON "users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "ukr43af9ap4edm43mmtq01oddj6" ON "users"("username");

-- CreateIndex
CREATE UNIQUE INDEX "execution_sessions_purchase_request_uuid_key" ON "execution_sessions"("purchase_request_uuid");

-- CreateIndex
CREATE INDEX "execution_sessions_status_idx" ON "execution_sessions"("status");

-- CreateIndex
CREATE INDEX "execution_sessions_created_at_idx" ON "execution_sessions"("created_at" DESC);

-- CreateIndex
CREATE UNIQUE INDEX "identity_verifications_session_id_key" ON "identity_verifications"("session_id");

-- CreateIndex
CREATE INDEX "media_records_session_id_idx" ON "media_records"("session_id");

-- CreateIndex
CREATE INDEX "media_records_media_type_idx" ON "media_records"("media_type");

-- CreateIndex
CREATE UNIQUE INDEX "cash_count_results_session_id_key" ON "cash_count_results"("session_id");

-- CreateIndex
CREATE UNIQUE INDEX "receipts_session_id_key" ON "receipts"("session_id");

-- CreateIndex
CREATE UNIQUE INDEX "receipts_receipt_number_key" ON "receipts"("receipt_number");

-- CreateIndex
CREATE UNIQUE INDEX "transaction_records_purchase_request_uuid_key" ON "transaction_records"("purchase_request_uuid");

-- CreateIndex
CREATE UNIQUE INDEX "transaction_records_session_id_key" ON "transaction_records"("session_id");

-- CreateIndex
CREATE UNIQUE INDEX "transaction_records_transaction_number_key" ON "transaction_records"("transaction_number");

-- CreateIndex
CREATE INDEX "transaction_records_transaction_number_idx" ON "transaction_records"("transaction_number");

-- CreateIndex
CREATE UNIQUE INDEX "received_customer_records_purchase_request_uuid_key" ON "received_customer_records"("purchase_request_uuid");

-- CreateIndex
CREATE UNIQUE INDEX "received_customer_records_session_id_key" ON "received_customer_records"("session_id");

-- CreateIndex
CREATE UNIQUE INDEX "received_customer_records_transaction_record_id_key" ON "received_customer_records"("transaction_record_id");

-- CreateIndex
CREATE INDEX "received_customer_records_national_id_idx" ON "received_customer_records"("national_id");

-- CreateIndex
CREATE INDEX "received_customer_records_received_at_idx" ON "received_customer_records"("received_at" DESC);

-- CreateIndex
CREATE INDEX "workflow_audit_logs_entity_type_entity_id_idx" ON "workflow_audit_logs"("entity_type", "entity_id");

-- CreateIndex
CREATE INDEX "workflow_audit_logs_created_at_idx" ON "workflow_audit_logs"("created_at" DESC);

-- CreateIndex
CREATE UNIQUE INDEX "branch_hardware_configs_branch_code_key" ON "branch_hardware_configs"("branch_code");

-- CreateIndex
CREATE INDEX "hardware_devices_branch_code_idx" ON "hardware_devices"("branch_code");

-- CreateIndex
CREATE INDEX "hardware_devices_type_idx" ON "hardware_devices"("type");

-- AddForeignKey
ALTER TABLE "exchange_activity_log" ADD CONSTRAINT "fkqoua9993wpufaygem56br70hu" FOREIGN KEY ("company_id") REFERENCES "exchange_company"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "exchange_company_user" ADD CONSTRAINT "fkjvtf8pauf8mku75ivnwdlop9y" FOREIGN KEY ("company_id") REFERENCES "exchange_company"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "fx_purchase_request" ADD CONSTRAINT "fk91v5p91mukedx4o95ov48jp1x" FOREIGN KEY ("company_id") REFERENCES "exchange_company"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "fx_requests" ADD CONSTRAINT "fknsbo78t38b3k4oytnos15v2dg" FOREIGN KEY ("company_id") REFERENCES "fx_companies"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "user_roles" ADD CONSTRAINT "fkh8ciramu9cc9q3qcqiv4ue8a6" FOREIGN KEY ("role_id") REFERENCES "roles"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "user_roles" ADD CONSTRAINT "fkhfh9dx7w3ubf1co1vdev94g3f" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "users" ADD CONSTRAINT "users_fx_company_id_fkey" FOREIGN KEY ("fx_company_id") REFERENCES "fx_companies"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "identity_verifications" ADD CONSTRAINT "identity_verifications_session_id_fkey" FOREIGN KEY ("session_id") REFERENCES "execution_sessions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "media_records" ADD CONSTRAINT "media_records_session_id_fkey" FOREIGN KEY ("session_id") REFERENCES "execution_sessions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "cash_count_results" ADD CONSTRAINT "cash_count_results_session_id_fkey" FOREIGN KEY ("session_id") REFERENCES "execution_sessions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "cash_count_denominations" ADD CONSTRAINT "cash_count_denominations_cash_count_result_id_fkey" FOREIGN KEY ("cash_count_result_id") REFERENCES "cash_count_results"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "receipts" ADD CONSTRAINT "receipts_session_id_fkey" FOREIGN KEY ("session_id") REFERENCES "execution_sessions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "transaction_records" ADD CONSTRAINT "transaction_records_session_id_fkey" FOREIGN KEY ("session_id") REFERENCES "execution_sessions"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "received_customer_records" ADD CONSTRAINT "received_customer_records_session_id_fkey" FOREIGN KEY ("session_id") REFERENCES "execution_sessions"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "received_customer_records" ADD CONSTRAINT "received_customer_records_transaction_record_id_fkey" FOREIGN KEY ("transaction_record_id") REFERENCES "transaction_records"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "workflow_audit_logs" ADD CONSTRAINT "workflow_audit_logs_session_id_fkey" FOREIGN KEY ("session_id") REFERENCES "execution_sessions"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "hardware_devices" ADD CONSTRAINT "hardware_devices_branch_code_fkey" FOREIGN KEY ("branch_code") REFERENCES "branch_hardware_configs"("branch_code") ON DELETE CASCADE ON UPDATE CASCADE;

